os: linux
sudo: required
language: python
services: docker

env:
  global:
    - VERSION=18F

before_script:
  - sudo echo '{"experimental":true}' | sudo tee /etc/docker/daemon.json
  - sudo service docker restart
  - git clone --depth=1 https://$GIT_TOKEN@github.com/xmjiao/ci-util.git 2> /dev/null

script:
  - './ci-util/build-docker.sh : ams562/desktop:$VERSION,latest
         --build-arg BB_TOKEN=$BB_TOKEN --squash &&
     ./ci-util/trigger-via-api.sh'
