"*":
  "atom-beautify":
    c:
      beautify_on_save: false
      default_beautifier: "clang-format"
    cpp:
      beautify_on_save: false
      default_beautifier: "clang-format"
    executables:
      "clang-format":
        path: "clang-format"
    python:
      beautify_on_save: false
  "atom-material-ui":
    colors:
      abaseColor: "#7e57c2"
      accentColor: "#acdd55"
      genAccent: true
      predefinedColor: "Purple"
    tabs:
      compactTabs: true
    ui:
      panelShadows: true
  "autocomplete-clang":
    clangCommand: "clang"
    "std c": "c11"
    "std c++": "c++1z"
  "autocomplete-python":
    extraPaths: "/usr/local/lib/python3.6/dist-packages;/usr/lib/python3/dist-packages"
    pythonPaths: "/usr/bin/python3"
    useKite: false
    useSnippets: "all"
  core:
    autoHideMenuBar: true
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax-dark"
    ]
  editor:
    showIndentGuide: true
  "exception-reporting":
    userId: "c0ac556a-11e6-429a-8b85-be34f0dc7596"
  fonts:
    fontFamily: "Average Mono"
  "linter-clang":
    clangDefaultCFlags: "-Wall -std=c11"
    clangDefaultCppFlags: "-Wall -std=c++1z"
    executablePath: "clang"
  welcome:
    showOnStartup: false
".c.source":
  editor:
    scrollPastEnd: true
".cpp.source":
  editor:
    scrollPastEnd: true
".fixed.fortran.source":
  editor:
    scrollPastEnd: true
".fortran.free.source":
  editor:
    scrollPastEnd: true
".fortran.modern.source":
  editor:
    scrollPastEnd: true
".python.source":
  editor:
    scrollPastEnd: true
    showIndentGuide: true
